// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #DCDCDC;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-lightbend {
  background-color: $background-color;
}

#container{
 display: block;
 width: 100%;
 height: 100%;
}

.lightbend-icon{
   margin-top:3%;
}

.lightbend-img-left{
   margin-top: 7%;
   margin-left: 10%;
   float: left;
}

.lightbend-img-right{
   margin-top: 7%;
   margin-right: 10%;
   float: right;
}

#lightbend-scala-one{
    margin-top: 15%;
}

#lightbend-play-one{
    margin-top: 15%;
}

#lightbend-akka-one{
    margin-top: 15%;
}


.quarter{
    height:25%;
}